<h2>Configuration</h2>
<hr>
<div class="row">
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <div class="col-lg-6">
          <div class="well">
              <div class="alert alert-success" *ngIf="success">
                  <strong>Success!</strong> Configuration changed succesfully.
                </div>
                <div class="alert alert-danger" *ngIf="errors">
                  <strong>Error!</strong> {{ error }}.
                </div>
            <div class="form-group">
              <label for="name">Name your Plantation</label>
              <input type="text" class="form-control" name="name" placeholder="My flowers" ngModel [(ngModel)]="configuration.name" #name="ngModel"
                required>
              <div class="danger" *ngIf="!name.valid && name.touched && name.dirty">
                <p>
                  <strong>Error </strong> Name can not be empty</p>
              </div>
            </div>
            <div class="form-group">
              <label for="time">Update Time</label>
              <input type="number" class="form-control" name="time" ngModel [(ngModel)]="configuration.updateTime" #time="ngModel" required>
              <div class="danger" *ngIf="!time.valid && time.touched && time.dirty">
                <p>
                  <strong>Error </strong> Numero incorrecto</p>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Plantation Location</label>
              <agm-map [(latitude)]="marker.lat" [(longitude)]="marker.lng" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)"
                [streetViewControl]="false">
    
                <agm-marker [(latitude)]="marker.lat" [(longitude)]="marker.lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                  <agm-info-window>
                    <strong>Plantation location</strong>
                  </agm-info-window>
                </agm-marker>
    
              </agm-map>
              <!-- /input-group -->
            </div>
            <br />
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control">Save</button>
            </div>
          </div>
        </div>
      </form>
  <div class="col-lg-6">
    <form #formPassword="ngForm" (ngSubmit)="onSubmitPassword(formPassword.value)">
      <div class="well">
        <h3>Change Password</h3>
        <hr>
        <div class="alert alert-success" *ngIf="passwordSuccess">
          <strong>Success!</strong> Password changed succesfully.
        </div>
        <div class="alert alert-danger" *ngIf="passwordErrors">
          <strong>Error!</strong> {{ passwordError }}.
        </div>
        <div class="form-group">
          <label for="oldpassword">Old Password</label>
          <input type="password" class="form-control" name="oldpassword" placeholder="*********" ngModel pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,20}$"
            #oldpassword="ngModel" required>
          <div class="danger" *ngIf="!oldpassword.valid && oldpassword.touched && oldpassword.dirty">
            <p>
              <strong>Error </strong> La contraseña debe ser mayor de 8 caracteres y al menos contener un dígito y un caracter</p>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="newpassword">New Password</label>
          <input type="password" class="form-control" name="newpassword" placeholder="*********" ngModel pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,20}$"
            #newpassword="ngModel" required>
          <div class="danger" *ngIf="!newpassword.valid && newpassword.touched && newpassword.dirty">
            <p>
              <strong>Error </strong> La contraseña debe ser mayor de 8 caracteres y al menos contener un dígito y un caracter</p>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmnewpassword">Confirm New Password</label>
          <input type="password" class="form-control" name="confirmnewpassword" placeholder="*********" ngModel pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,20}$"
            #confirmnewpassword="ngModel" required>
          <div class="danger" *ngIf="!confirmnewpassword.valid && confirmnewpassword.touched && confirmnewpassword.dirty">
            <p>
              <strong>Error </strong> La contraseña debe ser mayor de 8 caracteres y al menos contener un dígito y un caracter</p>
          </div>
        </div>
        <br />
        <br />
        <div class="form-group">
          <button type="submit" class="btn btn-primary form-control">Change Password</button>
        </div>
      </div>
    </form>
    <div class="well">
      <h3>Reset Application</h3>
      <p>To Drop all the data and restart the Application click on the <strong>Reset</strong> button</p>
      <button type="submit" class="btn btn-primary form-control" (click)="resetConfiguration()">Reset</button>
    </div>
  </div>
</div>