<h2>Añadir Plantación</h2>
<hr>
<div class="alert alert-success" *ngIf="success">
    <strong>Success!</strong> Plant edited succesfully.
</div>
<div class="alert alert-danger" *ngIf="errors">
    <strong>Error!</strong> {{ error }}.
</div>
<div class="alert alert-danger" *ngIf="plantService.errorImage">
  <strong>Error!</strong> No se puede subir la imagen.
</div>
<form #form="ngForm" (submit)="onSubmit(form.value)">
  <div class="row">
    <div class="col-lg-6">
      <div class="well initial">
        <div class="form-group">
          <label for="image">Image: </label>
          <br />
          <img class="img-thumbnail img-responsive center-block" [src]="plantService.imageUrl" ngDefaultControl>
          <br />
          <br />
          <br />
          <input type="file" name="file" ngModel #file="ngModel" ng2FileSelect [uploader]="plantService.uploader"  accept="image/x-png,image/gif,image/jpeg" (change)="onChange(file)">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well initial">
        <div class="form-group">
          <label for="name">Name your zone: </label>
          <input type="text" class="form-control" name="name" placeholder="Plants (Required)" [(ngModel)]="plant.name" #name="ngModel" ngModel required>
          <p *ngIf="name.touched && name.invalid" class="danger"> Debe introducir un nombre</p>
        </div>        
        <div class="form-group">
          <label for="name">Description: </label>
          <textarea class="form-control" rows="3" ngModel #description="ngModel" name="description" [(ngModel)]="plant.description"  placeholder="Description (Required)" required></textarea>
          <p *ngIf="description.touched && description.invalid" class="danger"> Debe introducir una descripción</p>
        </div>
        <div class="form-group">
          <label for="servo">Select the servo</label>
          <select class="form-control" name="servo" id="servo" value="1" [(ngModel)]="plant.servo">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="overture">Aperture time</label>
          <input type="number" class="form-control" name="overture" placeholder="2" [(ngModel)]="plant.tiempo_abertura" ngModel>
        </div>
        <div class="form-group">
          <label for="caudal">Caudal</label>
          <input type="number" class="form-control" name="caudal" placeholder="2" [(ngModel)]="plant.caudal" ngModel>
        </div>
        <div class="form-group">
            <label for="maxLastOpenings">Maximo de Ultimas aperturas</label>
            <input type="number" class="form-control" name="maxLastOpenings" placeholder="30" [(ngModel)]="plant.maxLastOpening" ngModel>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <h3>
            Conditions
          </h3>
          <p>Aqui puedes configurar las condiciones para regar tus plantas, en base a unas horas y en base a unas condiciones.</p>
          <br/>
          <p class="text-center">
            <input type="checkbox" name="weather" [(ngModel)]="plant.weatherAfected"> La plantación se encuentra abierta al aire libre. Significa que no se regará si esta lloviendo o fuera a llover.</p>
          <br />
          <div class="row">
            <div class="col-lg-6">
              <h4>
                <u>Condicion Horaria</u>
              </h4>
              <br />
              <ul>
                <li>Regar cada
                  <select class="" name="timeLapse" id="timeLapse" value="1" [(ngModel)]="plant.timeConditions.value">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                    <option value="72">72</option>
                  </select> hora/s</li>
                <br />
                <ul>
                  <li>
                    <p>
                      <input type="checkbox" name="exception1" [(ngModel)]="plant.timeConditions.exceptions[0].enabled">
                      <span>No regar si humedad
                        <select class="" name="exception1Condition" id="exception1Condition" value="mayor" [(ngModel)]="plant.timeConditions.exceptions[0].condition" [disabled]="!plant.timeConditions.exceptions[0].enabled">
                          <option value="mayor">mayor</option>
                          <option value="menor">menor</option>
                        </select>
                        que
                        <input [disabled]="!plant.timeConditions.exceptions[0].enabled" type="number" name="exception1Value" [(ngModel)]="plant.timeConditions.exceptions[0].value"> %
                      </span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <input type="checkbox" name="exception2" [(ngModel)]="plant.timeConditions.exceptions[1].enabled">
                      <span>No regar si temperatura
                        <select class="" name="exception2Condition" id="exception2Condition" value="mayor" [(ngModel)]="plant.timeConditions.exceptions[1].condition" [disabled]="!plant.timeConditions.exceptions[1].enabled">
                          <option value="mayor">mayor</option>
                          <option value="menor">menor</option>
                        </select>
                        que
                        <input [disabled]="!plant.timeConditions.exceptions[1].enabled" type="number" name="exception2Value" [(ngModel)]="plant.timeConditions.exceptions[1].value"> ºC
                      </span>
  
                    </p>
                  </li>
                </ul>
              </ul>
              <br /><br />
            </div>
            <div class="col-lg-6">
              <h4>
                <u>Condicion Sensorial</u>
              </h4>
              <br />
              <ul>
                <li>
                  <p>
                    <input type="checkbox" name="exception3" [(ngModel)]="plant.conditions[0].enabled">
                    <span>Regar si humedad
                      <select class="" name="exception3Condition" id="exception3Condition" value="mayor" [(ngModel)]="plant.conditions[0].condition" [disabled]="!plant.conditions[0].enabled">
                        <option value="mayor">mayor</option>
                        <option value="menor">menor</option>
                      </select>
                      que
                      <input [disabled]="!plant.conditions[0].enabled" type="number" name="exception3Value" [(ngModel)]="plant.conditions[0].value"> %
                    </span>
                  </p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" name="exception4" [(ngModel)]="plant.conditions[1].enabled">
                    <span>Regar si temperatura
                      <select class="" name="exception4Condition" id="exception4Condition" value="mayor" [(ngModel)]="plant.conditions[1].condition" [disabled]="!plant.conditions[1].enabled">
                        <option value="mayor">mayor</option>
                        <option value="menor">menor</option>
                      </select>
                      que
                      <input [disabled]="!plant.conditions[1].enabled" type="number" name="exception4Value" [(ngModel)]="plant.conditions[1].value"> ºC
                    </span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <div class="form-group">
      <button type="submit" class="btn btn-primary form-control" [disabled]="!form.valid || !plantService.imageLoaded">Edit Plant</button>
    </div>
</form>