<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/dashboard">GreenPlants</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
          </li>
          <li  routerLinkActive='active'>
            <a routerLink="configuration"><span class="glyphicon glyphicon-cog"></span> Configuration </a>
          </li>
          <li>
            <a routerLink="/" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>