.row {
    
}

.well {
    height: 100%;
}

.well img{
    height:400px;
}

button {
    height:100px;
}

.btn-primary[disabled] {
    background-color: #337ab7;
}

textarea {
    resize: none;
}

.well.initial {
    height:560px;
}

input.ng-invalid.ng-touched {
    border-color:red;
}

textarea.ng-invalid.ng-touched {
    border-color:red;
}

.danger {
    color:red;
}