<h2>Añadir Plantación</h2>
<hr>
<div class="alert alert-success" *ngIf="success">
  <strong>Success!</strong> Plant added succesfully.
</div>
<div class="alert alert-danger" *ngIf="errors">
  <strong>Error!</strong> {{ error }}.
</div>
<div class="alert alert-danger" *ngIf="plantService.errorImage">
  <strong>Error!</strong> No se puede subir la imagen.
</div>
<form #form="ngForm" (submit)="onSubmit(form.value)">
  <div class="row">
    <div class="col-lg-6">
      <div class="well initial">
        <div class="form-group">
          <label for="image">Image: </label>
          <br />
          <img class="img-thumbnail img-responsive center-block" [src]="plantService.imageUrl" ngDefaultControl>
          <br />
          <br />
          <br />
          <input type="file" name="file" ngModel #file="ngModel" ng2FileSelect [uploader]="plantService.uploader" accept="image/x-png,image/gif,image/jpeg"
            (change)="onChange(file)">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="well initial">
        <div class="form-group">
          <label for="name">Name your zone: </label>
          <input type="text" class="form-control" name="name" placeholder="Plants (Required)" ngModel #name="ngModel" required>
          <p *ngIf="name.touched && name.invalid" class="danger"> Debe introducir un nombre</p>
        </div>

        <div class="form-group">
          <label for="name">Description: </label>
          <textarea class="form-control" rows="3" ngModel #description="ngModel" name="description" placeholder="Description (Required)"
            required></textarea>
          <p *ngIf="description.touched && description.invalid" class="danger"> Debe introducir una descripción</p>
        </div>
        <div class="form-group">
          <label for="servo">Select the servo</label>
          <select class="form-control" name="servo" id="servo" value="1" [(ngModel)]="selected">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="overture">Aperture time</label>
          <input type="number" class="form-control" name="overture" placeholder="2" [(ngModel)]="overture" ngModel>
        </div>
        <div class="form-group">
          <label for="caudal">Caudal</label>
          <input type="number" class="form-control" name="caudal" placeholder="2" [(ngModel)]="caudal" ngModel>
        </div>
        <div class="form-group">
          <label for="maxLastOpenings">Maximo de Ultimas aperturas</label>
          <input type="number" class="form-control" name="maxLastOpenings" placeholder="30" [(ngModel)]="maxLastOpenings" ngModel>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <h3>
          Conditions
        </h3>
        <p>Aqui puedes configurar las condiciones para regar tus plantas, en base a unas horas y en base a unas condiciones.</p>
        <br/>
        <p class="text-center">
          <input type="checkbox" name="weather" [(ngModel)]="weather"> La plantación se encuentra abierta al aire libre. Significa que no se regará si esta lloviendo o fuera a llover.</p>
        <br />
        <div class="row">
          <div class="col-lg-6">
            <h4>
              <u>Condicion Horaria</u>
            </h4>
            <br />
            <ul>
              <li>Regar cada
                <select class="" name="timeLapse" id="timeLapse" value="1" [(ngModel)]="timeLapse">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="4">4</option>
                  <option value="6">6</option>
                  <option value="8">8</option>
                  <option value="12">12</option>
                  <option value="24">24</option>
                  <option value="48">48</option>
                  <option value="72">72</option>
                </select> hora/s</li>
              <br />
              <ul>
                <li>
                  <p>
                    <input type="checkbox" name="exception1" [(ngModel)]="exception1">
                    <span>No regar si humedad
                      <select class="" name="exception1Condition" id="exception1Condition" value="mayor" [(ngModel)]="exception1Condition" [disabled]="!exception1">
                        <option value="mayor">mayor</option>
                        <option value="menor">menor</option>
                      </select>
                      que
                      <input [disabled]="!exception1" type="number" name="exception1Value" [(ngModel)]="exception1Value"> %
                    </span>
                  </p>
                </li>
                <li>
                  <p>
                    <input type="checkbox" name="exception2" [(ngModel)]="exception2">
                    <span>No regar si temperatura
                      <select class="" name="exception2Condition" id="exception2Condition" value="mayor" [(ngModel)]="exception2Condition" [disabled]="!exception2">
                        <option value="mayor">mayor</option>
                        <option value="menor">menor</option>
                      </select>
                      que
                      <input [disabled]="!exception2" type="number" name="exception2Value" [(ngModel)]="exception2Value"> ºC
                    </span>

                  </p>
                </li>
              </ul>
            </ul>
            <br /><br />
          </div>
          <div class="col-lg-6">
            <h4>
              <u>Condicion Sensorial</u>
            </h4>
            <br />
            <ul>
              <li>
                <p>
                  <input type="checkbox" name="exception3" [(ngModel)]="exception3">
                  <span>Regar si humedad
                    <select class="" name="exception3Condition" id="exception3Condition" value="mayor" [(ngModel)]="exception3Condition" [disabled]="!exception3">
                      <option value="mayor">mayor</option>
                      <option value="menor">menor</option>
                    </select>
                    que
                    <input [disabled]="!exception3" type="number" name="exception3Value" [(ngModel)]="exception3Value"> %
                  </span>
                </p>
              </li>
              <li>
                <p>
                  <input type="checkbox" name="exception4" [(ngModel)]="exception4">
                  <span>Regar si temperatura
                    <select class="" name="exception4Condition" id="exception4Condition" value="mayor" [(ngModel)]="exception4Condition" [disabled]="!exception4">
                      <option value="mayor">mayor</option>
                      <option value="menor">menor</option>
                    </select>
                    que
                    <input [disabled]="!exception4" type="number" name="exception4Value" [(ngModel)]="exception4Value"> ºC
                  </span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary form-control" [disabled]="!form.valid || !plantService.imageLoaded">Add Plant</button>
  </div>
</form>