.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: auto;
    background-image: url('/assets/img/void.png');
    background-repeat: repeat;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    overflow: hidden;
    padding:50px;
    margin-top:100px;
  }
  .bodyContainer {
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 100%;
    background: url('/assets/img/loginBackground.jpeg') no-repeat center center fixed;
    background-attachment: scroll;  
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display:block;
    overflow:auto;
  }
  
  h2 {
    text-align: center;
  }
   
  hr {
    border:1px solid #a0a0a0b4;
  }

  agm-map {
      height:300px;
      border-radius: 10px;
  }
  body {
    min-height: 100%;
  }

  #connecting {
    width:100%;
}
 
#connecting p{
   text-align: center;
}
 
#connecting img {
    display:block;
    margin:0 auto;
}