<div class="bodyContainer">
  <div class='container'>
    <h2> Welcome to GreenPlants</h2>
    <hr>
    <br />
    <div id="connectForm" *ngIf="!connecting">
      <div class="alert alert-danger" role="alert" *ngIf="errors">
        <p>
          <b>Login Error!</b> {{error}}</p>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="row">
          <div class="col-lg-12">
            <h3>Registration</h3>
            <br />
            <div class="form-group">
              <label for="name">Name your Plantation</label>
              <input type="text" class="form-control" name="name" placeholder="My flowers" ngModel>
            </div>
            <div class="form-group">
              <label for="password">Service Password</label>
              <input type="password" class="form-control" name="password" placeholder="********" ngModel>
            </div>
            <div class="form-group">
              <label for="password2">Confirm Password</label>
              <input type="password" class="form-control" name="password2" placeholder="********" ngModel>
            </div>
            <div class="form-group">
              <label for="password">Plantation Location</label>
              <agm-map [latitude]="lat" [longitude]="lng" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)"
                [streetViewControl]="false">

                <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                  <agm-info-window>
                    <strong>Plantation location</strong>
                  </agm-info-window>
                </agm-marker>

              </agm-map>
              <!-- /input-group -->
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control">Save</button>
            </div>
            <!-- Form group -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
      </form>
    </div>
    <div id="connecting" *ngIf="connecting">
      <br/>
      <br/>
      <img src="/assets/img/loading.gif" />
      <br />
      <p>Configuring {{ ipAddress }}...</p>
    </div>
  </div>
</div>