.jumbotron h1 > span {
    top:10px;
}

.jumbotron h1 > span.fa {
    position: relative;
    top:3px;
}

.plants {
    margin:10px;
    cursor: pointer;
    height:400px;
}

.plants img {
    border: solid 1px #ddd;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: inherit;
}

.plantContent .badge{
    font-size:25px;
}

.plantInfo > h1 {
    font-size: 60px;
}

.plantInfo > h1 > span {
    margin: 0 auto;
}

.col* {
    font-size:72px;
}

.plantOptions {
    font-size: 16px;
    padding: 5px;
}

.plantOptions:hover {
    color:red;
}