<div class="container-fluid">
  <div class="jumbotron" style="overflow:auto">
    <div class="pull-left">
      <img src="{{dashboardInfo.icon}}">
      <br />
      <br />
      <h2>{{ dashboardInfo.street }}</h2>
      <h3>{{ dashboardInfo.city }} ({{ dashboardInfo.political }})</h3>
    </div>
    <div class="pull-right text-right">
      <h1>
        <span class="glyphicon glyphicon-time"></span> {{ time.hour }}:{{ time.minutes }}</h1>
      <h1>
        <span class="fa fa-thermometer-quarter"></span> {{dashboardInfo.temperature}} ºC</h1>
      <h1>
        <span class="fa fa-tint"></span> {{ dashboardInfo.humidity }}</h1>
    </div>
  </div>
  <div *ngIf="plants.length > 0">
    <a routerLink='add' class="pull-right">Añadir plantación</a>
    <br />
    <br />
    <div class="alert alert-success" *ngIf="success">
      <strong>Success!</strong> Plant removed succesfully.
    </div>
    <div class="alert alert-danger" *ngIf="errors">
      <strong>Error!</strong> {{ error }}.
    </div>
    <div class="plants" *ngFor="let plant of plants" (click)="clickPlant(plant)">
      <div class="panel panel-default">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <img class="img-thumbnail img-responsive" src="{{ plant.photo }}">
          </div>
          <div class="col-lg-7 col-sm-7">
            <div class="plantContent">
              <h1>{{ plant.name }}
                <span class="badge">{{ plant.servo }}</span>
              </h1>
              <h2>
                <small>{{ plant.description }}</small>
              </h2>
            </div>
            <br />
            <br />
            <br />
          </div>
          <div class="col-lg-1 col-sm-1">
            <div class="options pull-right">
              <span class="glyphicon glyphicon-edit  plantOptions" (click)="editPlant(plant);  $event.stopPropagation()"></span>
              <span class="glyphicon glyphicon-remove  plantOptions" (click)="deletePlant(plant);  $event.stopPropagation()"></span>

            </div>
          </div>
          <br />
          <div class="col-lg-2 col-sm-2"></div>
          <div class="col-lg-2 col-sm-2 plantInfo">
            <h1 class="text-center">
              <span class="glyphicon glyphicon-time"></span>
              <br /> {{ plant.ultimo_riego.length !== 0 ? plant.ultimo_riego[plant.ultimo_riego.length-1] :"NaN" }}</h1>
          </div>
          <div class="col-lg-2 col-sm-2 plantInfo">
            <h1 class="text-center">
              <span class="fa fa-thermometer-quarter"></span>
              <br /> {{ plant.sensor_2!==-1? plant.sensor_2 :"NaN" }}ºC</h1>
          </div>
          <div class="col-lg-2 col-sm-2 plantInfo">
            <h1 class="text-center">
              <span class="fa fa-tint"></span>
              <br /> {{ plant.sensor_1!==-1? plant.sensor_1 :"NaN" }}%</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="plants.length == 0">
    <div class="alert alert-success" *ngIf="success">
      <strong>Success!</strong> Plant removed succesfully.
    </div>
    <br *ngIf="!success" />
    <br *ngIf="!success" />
    <h1>No hay ninguna plantación</h1>
    <a routerLink='add'>Añadir plantación</a>
  </div>
</div>