<div class="row well">
  <div class="col-lg-6 col-sm-6">
    <img [src]="plant.photo" class="img-thumbnail">
  </div>
  <div class="col-lg-6 col-sm-6">
    <h1>{{plant.name}}
      <span class="badge">{{ plant.servo }}</span>
    </h1>
    <h2>{{plant.description}}</h2>
    <br />
    <br />
    <ul>
      <li>
        <p>
          <b>Aperture Time:</b> {{ plant.tiempo_abertura }} segundo<span *ngIf="plant.tiempo_abertura > 1">s</span></p>
      </li>
      <li>
        <p>
          <b>Caudal:</b> {{ plant.caudal }} litros/h</p>
      </li>
      <li>
        <p>
          <b>Riego cada:</b> {{ plant.timeConditions.value }} hora<span *ngIf="plant.timeConditions.value > 1">s</span></p>
        <ul>
          <li *ngIf="plant.timeConditions.exceptions[0].enabled">
            A menos que la humedad sea {{ plant.timeConditions.exceptions[0].condition }} que el {{ plant.timeConditions.exceptions[0].value
            }}%;
          </li>
          <li *ngIf="plant.timeConditions.exceptions[1].enabled">
            A menos que la temperatura sea {{ plant.timeConditions.exceptions[1].condition }} que {{ plant.timeConditions.exceptions[1].value
            }}ºC;
          </li>
        </ul>
        <br />
      </li>
      <li *ngIf="plant.conditions[0].enabled">
        <b>Riego cada</b> vez que la humedad sea {{ plant.conditions[0].condition }} que el {{ plant.conditions[0].value }}%</li>
      <li *ngIf="plant.conditions[1].enabled">
        <b>Riego cada</b> vez que la temperatura sea {{ plant.conditions[1].condition }} que {{ plant.conditions[1].value }}ºC</li>
      <li>Esta plantación
        <span *ngIf="!plant.weatherAfected">
          <b>NO</b>
        </span> se encuentra al aire libre.</li>
    </ul>
  </div>
  <div class="col-lg-12 col-sm-12">
    <br />
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="well plantInfo">
          <h1 class="text-center">
            <span class="glyphicon glyphicon-time"></span>
            <br /> {{ plant.ultimo_riego.length !== 0 ? plant.ultimo_riego[plant.ultimo_riego.length-1] :"NaN" }} </h1>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="well plantInfo">
          <h1 class="text-center">
            <span class="fa fa-thermometer-quarter"></span>
            <br /> {{ plant.sensor_2!==-1? plant.sensor_2 :"NaN" }} ºC</h1>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="well plantInfo">
          <h1 class="text-center">
            <span class="fa fa-tint"></span>
            <br /> {{ plant.sensor_1!==-1? plant.sensor_1 :"NaN" }} % </h1>
        </div>
      </div>
    </div>
    <br />
    <div class="col-lg-12 col-sm-12">
      <h2>Humedad</h2>
      <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="humidityColors"
        [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </div>
    <br />
    <div class="col-lg-12 col-sm-12">
      <br />
      <h2>Temperatura</h2>
      <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </div>
    <div class="col-lg-12 col-sm-12">
        <br />
        <h2>Ultimas Aperturas</h2>
        
        <table class="table table-striped">
            <thead>
              <tr >
                <th class="text-center">Fecha</th>
                <th class="text-center">Litros</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let riego of plant.ultimo_riegoT" class="text-center">
                <td>{{riego}}</td>
                <td>{{ plant.caudal * plant.tiempo_abertura / 3600}} litros</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>