.plantInfo > h1 {
    font-size: 50px;
}

@media (max-width: 500px) { 
    .plantInfo > h1 {
        font-size: 30px;
    }
 }

.plantInfo > h1 > span {
    margin: 0 auto;
}

tr {
    font-size:16px;
    padding: 10px;
}
